body{
    width: 100%;
    height: 100%;
background-color: goldenrod;
    display: flex;
justify-content: space-around;
}
.new_class { 
    background-image: url(/img/image.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.btn a{
margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
    padding: 16px 24px;
    border-radius: 16px;
    text-transform: uppercase;
    background-color: burlywood;
    transition-duration: 1s;
display: block;
}
.btn a:hover{
	cursor: pointer;
	background: rgba(0,0,0,0);
    color: #333333;
    box-shadow: inset 0 0 0 3px #050400;
}

