body{
    width: 100%;
    height: 100%;
background-color: goldenrod;
    display: flex;
justify-content: space-around;
}
.new_class { 
    background-image: url(/img/image.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.btn a{
margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
    padding: 16px 24px;
    border-radius: 16px;
    text-transform: uppercase;
    background-color: burlywood;
    transition-duration: 1s;
display: block;
}
.btn a:hover{
	cursor: pointer;
	background: rgba(0,0,0,0);
    color: #333333;
    box-shadow: inset 0 0 0 3px #050400;
}

/*button3*/
/**{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}

body {
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    background-color: #546e7a;
    flex: 2 2 12em;
    padding: 1em;
}

nav, aside {
    flex: 1;
    background-color: #455a64;
}

nav {
    order: -1;
}
 
header, footer {
    flex: 0 0 5em;
    background-color: #37474f;
}
 */